extends layout

block content
  include tan.pug
  div#weather
    h1 weater
    p Hello to the Api weather
  div#epsi
    h1 Epsi
    p Bienvenue sur le campus de merde HEP
  div#mail
    h1 Mail
    p Bienvenue sur votre boite mail