extends layout

block content
  div#tan
    h1 Tan
    p Welcome to the API Tan
  div#weather
    h1 weater
    p Hello to the Api weather
  div#epsi
    h1 Epsi
    p Bienvenue sur le campus de merde HEP
  div#mail
    h1 Mail
    p Bienvenue sur votre boite mail