<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
   
    <div id="weather">
      <h1>weater</h1> 
      <p>Hello to the Api weather</p> 
    </div>
    <div id="epsi">
      <h1>epsi</h1> 
      <p>Bienvenue sur le campus de merde HEP</p> 
    </div>
    <div id="mail">
      <h1>mail</h1> 
      <p>Bienvenue sur votre boite mail</p> 
    </div>
    <div id="tan">
      <h1>tan</h1> 
      <p>Hello to the Api tan</p> 
    </div>
  </body>
</html>
